<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="BandGroupBoard">
    <insert id="saveGroupBoard" parameterType="BandGroupBoard">
        insert into band_GroupBoard(memberId, groupId, bandBoardWriter, createMemberLocal, createMemberInterest,
                                    bandBoardContents, groupName)
        values (#{memberId}, #{groupId}, #{bandBoardWriter}, #{createMemberLocal}, #{createMemberInterest},
                #{bandBoardContents}, #{groupName})
    </insert>
    <select id="findGroupBoardAll" resultType="BandGroupBoard">
        select * from band_GroupBoard

    </select>
    <select id="findBoardByGroupName" resultType="BandGroupBoard" parameterType="String">
        select * from band_GroupBoard where groupName =#{groupName}

    </select>




</mapper>














