<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="BandMember">
    <insert id="saveMember" parameterType="bandMember" useGeneratedKeys="true" keyProperty="id">
        insert into band_member(memberEmail, memberPassword, memberNickname, memberLocal, memberInterest, memberMobile, memberProfile)
        values (#{memberEmail}, #{memberPassword}, #{memberNickname}, #{memberLocal}, #{memberInterest},#{memberMobile},#{memberProfile})
    </insert>
    <insert id="saveProfileFile" parameterType="bandProfile" >
        insert into band_memberProFile(profileFileName, profileStoredFileName, memberId)
        values (#{profileFileName}, #{profileStoredFileName}, #{memberId})
    </insert>

    <select id="loginChk" parameterType="bandMember" resultType="bandMember">
        select *
        from band_member
        where memberEmail = #{memberEmail}
          and memberPassword = #{memberPassword}

    </select>
    <select id="findMemberByEmail" parameterType="bandMember" resultType="bandMember">
        select *
        from band_member
        where memberEmail = #{loginEmail}
    </select>
    <select id="findMemberByNickName" parameterType="bandMember" resultType="bandMember">
        select *
        from band_member
        where memberNickname = #{loginNickNamme}
    </select>
<select id="findMemberProfile" resultType="bandProfile" parameterType="Long">
        select *
        from band_memberProFile
        where memberId = #{memberId}
</select>
</mapper>














