<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="BandGroup">
    <insert id="saveMember" parameterType="bandMember">
        insert into band_member(memberEmail, memberPassword, memberNickname, memberLocal, memberInterest, memberMobile)
        values (#{memberEmail}, #{memberPassword}, #{memberNickname}, #{memberLocal}, #{memberInterest},
                #{memberMobile})
    </insert>
    <select id="findGroupAll" resultType="bandGroup">
        select * from band_group

    </select>



</mapper>














